<div class="container">
    <div class="row">
        <div appHighlight highlightColor="red" class="col">{{product.id}}</div>
        <div appHighlight highlightColor="yellow" class="col">{{product.name}}</div>
        <div appHighlight highlightColor="green" class="col">{{product.price | currency}}</div>
        <div>
            <input [(ngModel)]="quantity" (change)="onChange()" min="1" type="number" />
        </div>
        <div class="col">
            <button class="btn btn-primary" (click)="onDelete(product)">Delete
            </button>
        </div>
    </div>
</div>